$defaultFontColor: #202124;
$background-color: #ffffff;
$inputBorderColor: rgb(25, 93, 229);
$hoverColor:rgba(#efefef,.8);
$defaultBorderColor:rgb(209, 212, 216);
$searchBgcColor:#f1f3f4;

$info: rgb(66, 163, 226);
$error: rgb(255, 78, 85);
$success: rgb(72, 175, 86);
$warning: rgb(235, 188, 62)